:root{
  --color-white: #FFF;
  --color-beige: #DCC1AB;
  --color-black: #111;
  --color-grey: #F5F0EC;
  --color-green: #1B5B31;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}